<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Make a Madlibs Story</title>
  </head>
  <body>
    <h1>Fill in the blanks to create a silly story</h1>
    <form>
    <label for="name1">Name of a person</label>
    <input id="name1" name="name1" type="text">
    <button type="submit">Get your story</button>
    </form>
  </body>
</html>